{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
     "window": true,
     "localStorage": true,
     "navigator": true,
     "document": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "prefer-destructuring": 0,
    "comma-dangle": ["error", "never"],
    "react/no-array-index-key": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": [2, {"forbid": ["any"]}],
    "no-multiple-empty-lines": 2
  }
}
