.curve {
  padding: 50px 40px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  background-image: radial-gradient(circle at 50% 100%, #00819e, #00749b 9%, #005d83 15%, #004d75 19%, #002e60 32%);
  display: flex;
  justify-items: flex-start;
  align-items: center;
}
